html {
    height: 100%;
}
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 0;

    height: 100%;
    max-height: 100%;

    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: flex-end;

    text-align: right;
    line-height: 24px;
    min-width: 165px;
    padding-top: 15px;

    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}
.headerContent {
    display: flex;
    align-items: center;

    padding: 0 30px;
}
.headerLeft {
    display: flex;

    padding-right: 15px;

    text-align: right;
}
.headerRight {
    display: flex;

    text-align: left;
}
.gmail {
    cursor: pointer;
}
.gmail:hover {
    text-decoration: underline;
}
.images {
    padding-left: 15px;

    cursor: pointer;
}
.images:hover {
    text-decoration: underline;
}
.profile {
    padding: 0 0 0 15px;

    box-sizing: border-box;

    border-radius: 2px;
    outline: none;
}
.profpic {
    position: relative;
    margin: -1px;

    height: 32px;
    width: 32px;

    background: url(https://lh3.googleusercontent.com/ogw/ADGmqu8PLg8qU1pO0Acg36h6DSsLqOR9Oeo8MrOCB7cq=s64-c-mo);
    background-size: 32px 32px;
    background-size: 100%;

    border-radius: 50%;

    cursor: pointer;
}
.menu {
    height: 30px;
    width: 30px;

    background-image: url(http://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -132px -38px;
    background-size: 528px 68px;

    opacity: 0.55;

    cursor: pointer;
}
.menu:hover {
    opacity: 0.8;
}

main {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 10px 10px 10px 10px;
    padding-bottom: 145px;
}
.logo {
    padding: 10px 0 10px 0;

    height: 70px;
    width: 272px;

    background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
    background-size: 272px 92px;
}
.searchBar {
    padding-bottom: 7px;
    padding-top: 25px;
}
.input-box {
    display: flex;
    
    margin: 0 auto;
    
    height: 44px;
    width: 482px;

    background: #fff;

    border: 1px solid #dfe1e5;
    border-radius: 24px;

    box-shadow: none;
}
.input-box:hover {
    border-color: rgba(223, 225, 229, 0);

    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.searchContent {
    display: flex;

    flex: 1;

    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.leftSide {
    display: flex;

    align-items: center;

    padding-right: 13px;
    margin-top: -5px;
}
.magnifyingGlass {
    height: 20px;
    width: 20px;

    background-image: url(http://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -250px -34px;
    background-size: 528px 68px;

    opacity: 0.32;
}
.a {
    display: flex;
    flex: 100%;
    
    margin: 0;
    padding: 0;

    height: 34px;
    width: 260px;

    line-height: 24px;
    
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);

    border: none;
    outline: none;
    word-wrap: break-word;

    font-size: 16px;

    cursor: text;
}
.rightSide {
    display: flex;

    align-items: stretch;
    flex-direction: row;

    flex: 0 0 auto;

    margin-top: -5px;
}
.microphone {
    display: flex;
    flex: 1 0 auto;

    align-items: center;
    
    padding: 0 8px;
    
    width: 24px;
    line-height: 44px;

    background: transparent;
    
    border: 0;
    outline: none;

    cursor: pointer;
}
.micro {
    height: 24px;
    width: 24px;

    vertical-align: middle;
}
.center {
    padding-top: 18px;

    width: 487px;
    height: 70px;
}

.buttons {
    text-align: center;
}
#googleSearch, #feelingLucky {
    margin: 11px 4px;
    padding: 0 16px;

    line-height: 27px;
    height: 36px;
    min-width: 54px;

    text-align: center;
    
    color: #5f6368;

    background-color: #f2f2f2;
    
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    font-family: arial, sans-serif;
    font-size: 14px;

    cursor: pointer;
}
#googleSearch:hover, #feelingLucky:hover {
    border-color: #cfcfcf;
    color: rgba(0, 0, 0, 0.87);
}

footer {
    display: flex;

    justify-content: flex-end;
    flex-direction: column;
    align-content: bottom;

    background: #f2f2f2;
    
    border-top: 1px solid #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
}
.region {
    padding-left: 27px;
    padding-top: 10px;
  
    height: 30px;

    color: rgba(0, 0, 0, 0.54);
  
    font-size: 15px;
}
.footerContent {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    
    padding-top: 10px;
    
    height: 30px;
    
    border-top: 1px solid #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    
    color: rgba(0, 0, 0, 0.54);
    
    font-size: 14px;
}

.footerContent .button {
    padding-left: 27px;
    
    cursor: pointer;
}
.footerContent .button:hover {
    text-decoration: underline;
}

.left, .right {
    display: flex;
}

.settings {
    padding-right: 27px;
}

